body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.scrollable-wrapper {
  height: 300px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.text-center {
  text-align: center;
}
